*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.area-cabecalho{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.nav-item{
align-items: center;
}

.titulo{
   /* margin-left: 100px; */
}

.nav-item{
    text-decoration: none;
}

.ellipse-1{
    width: 50px;
    height: 8px;
    background-color: #a5b4fc;
    margin-top: 100px;
    border-radius: 7px;
}

.ellipse-2{
    width: 50px;
    height: 8px;
    background-color: #a5b4fc;
    margin-top: 100px;
    border-radius: 7px;
}